<head>
<meta charset="utf-8">
  <title>404</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Bootstrap & JQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="javascripts/popper.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="javascripts/bootstrap.min.js"></script>
  <!--Hook up Stylesheets and Javascripts-->
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
	<center>
		<h2>404 Error</h2>
		<h4>Looks like you found a Dead Link</h4>
		<br>
		<img src="/images/Dead-Link.png" alt="Dead Link">
	</center>
</body>