
<head>
	<title>Login Page</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Bootstrap & JQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="javascripts/popper.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="javascripts/bootstrap.min.js"></script>

  <!--Hook up Stylesheets and Javascripts-->
  <script type="text/javascript" src="javascripts/validator.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
<center>
  <!--Login Form-->
	<form id=LoginForm>
    <h2><center>Login Page<br><h4>Please sign in to continue</h4></center></h2>
    <p id=possibleErrors style="color: red;"></p>
      <hr>
              <div class="container" id="SignUpPage">
                <!--Email placeholder--->
                <label for="email" id="modalText"><b>Email</b></label>
                <input type="text" placeholder="Email" id="email" name="email" required>

                <!--Password placeholder--->
                <label for="password" id="modalText"><b>Password</b></label>
                <input type="password" placeholder="Password" id="password" name="password" required>
              

                <!--Sign Up Button--->
                <span class="sgnup">
                  <!--<button type="button" class= "btn btn-success popup" id=SignUpBtn onclick="SignUp()" >Sign Up
                  <span class="popuptext" id="sgnPopup"></span>
                  </button>-->
                  <a tabindex="0" class="btn btn-success" role="button" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="popup">Sign Up</a>

                </span>

                <!--Login Button--->
                <span class="lgin">
                  <button type="button" class= "btn btn-success popup" id=LoginBtn name="LoginBtn" value="Login" onclick="LoginValidator()">Login
                    <span class="popuptext" id="lgnPopup"></span>
                  </button>
                </span>
              </div>
  </form>
  <a tabindex="0" class="btn btn-lg btn-success" role="button" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="popup">Sign Up 2</a>
  

<script>

</script>

</center>



</body>