<!DOCTYPE html>
<html lang="en">
<head>
	<!--Bootstrap-->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="/javascriptsbootstrap.min.js"></script>

  <!--Hook up Stylesheets and Javascripts-->
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script type="text/javascript" src="javascripts/registered.js"></script>
  <script src="javascripts/handlebars.min.js"></script>

</head>
<body>
	<center>
		<h2>Mail:</h2> <br>
		<h4> {{ email }} </h4><br>
		<p>Welcome to the club kid</p><br>
		<span class="error">
			<a href="/logout"><button type="button" class= "btn btn-danger"> Logout</button></a>
		</span>
	</center>

	<script type="text/javascript">
		
	</script>
	<script type="text/x-handlebars">
		
	</script>
</body>
</html>